<h1 class="titulo">Produtos</h1>

<form [formGroup]="formulario">

  <input type="number" class="form-control" readonly  formControlName="id">
  <input type="text"   class="form-control" placeholder="Nome" name="nome" formControlName="nome">
  <input type="number" class="form-control" placeholder="Valor" name="valor" formControlName="valor">

  <input type="button" class="btn btn-outline-primary" value="Cadastrar" *ngIf="btnCadastrar" (click)="cadastrar()">
  <input type="button" class="btn btn-outline-primary" value="Alterar"  *ngIf="!btnCadastrar">
  <input type="button" class="btn btn-outline-primary" value="Remover"  *ngIf="!btnCadastrar">
</form>

<!-- TABELA -->
<table class="table table-striped">
  <thead>
      <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Valor</th>
          <th>Selecionar</th>
      </tr>
  </thead>

  <tbody>
      <tr *ngFor="let produto of produtos; index as indice ">
          <td>{{ indice + 1 }}</td>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.valor }}</td>
          <td> <button  class="btn btn-outline-primary">Selecionar</button> </td>
      </tr>
  </tbody>
</table>
