
<form [formGroup]="formulario">
  @if (formulario.get("nome").hasError('required') && formulario.get("nome").touched ) {
    <p class="alert alert-warning">O campo nome é obrigatório</p>
  }
  @if (formulario.get("nome").hasError('minlength') && formulario.get("nome").touched ) {
    <p class="alert alert-warning">O campo nome precisa ter pelo menos três caracteres</p>
  }
  <input type="text" name="nome"  formControlName="nome" placeholder="Nome" class="form-control">


  @if (formulario.get("idade").hasError('required') && formulario.get("idade").touched ) {
    <p class="alert alert-warning">O campo Idade é obrigatório</p>
  }
  @if (formulario.get("idade").hasError('min') && formulario.get("idade").touched ) {
    <p class="alert alert-warning">O campo Idade precisa ser maior que zero</p>
  }
  @if (formulario.get("idade").hasError('max') && formulario.get("idade").touched ) {
    <p class="alert alert-warning">O campo Idade precisa ser menor que 120</p>
  }
  <input type="number"name="idade"  formControlName="idade" placeholder="Idade" class="form-control">


  @if (formulario.get("cidade").hasError('required') && formulario.get("cidade").touched ) {
    <p class="alert alert-warning">O campo cidade é obrigatório</p>
  }
  @if (formulario.get("cidade").hasError('minlength') && formulario.get("cidade").touched ) {
    <p class="alert alert-warning">O campo cidade precisa ter pelo menos três caracteres</p>
  }
  <input type="text" name="cidade" formControlName="cidade" placeholder="Cidade" class="form-control">


  @if (btnCadastrar) {
    <input (click)="cadastrar()" type="button" value="Cadastrar" class="btn btn-outline-primary" [disabled]="formulario.get('nome').hasError('required') || formulario.get('nome').hasError('minlength') || formulario.get('idade').hasError('required') || formulario.get('idade').hasError('min') || formulario.get('idade').hasError('max') || formulario.get('cidade').hasError('required') || formulario.get('cidade').hasError('minlength') ">
  }@else {
    <input  type="button" value="Alterar" class="btn btn-outline-warning" [disabled]="formulario.get('nome').hasError('required') || formulario.get('nome').hasError('minlength') || formulario.get('idade').hasError('required') || formulario.get('idade').hasError('min') || formulario.get('idade').hasError('max') || formulario.get('cidade').hasError('required') || formulario.get('cidade').hasError('minlength') ">
    <input type="button" value="Remover" class="btn btn-outline-danger">
    <input type="button" value="Cancelar" class="btn btn-outline-secondary">
  }



</form>

<table class="table" *ngIf="exibirTabela">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Cidade</th>
      <th>Selecionar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas; index as indice ">
      <td>{{ indice + 1 }}</td>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.idade }}</td>
      <td>{{ pessoa.cidade }}</td>
      <td> <button  class="btn btn-outline-dark">Selecionar</button> </td>
    </tr>
  </tbody>
</table>
